@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffca18;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #a9a9a9;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-screen{
  @apply max-w-4xl w-full;
}

.conteiner{
  @apply bg-white p-3 rounded-md;
}
